# Prepare data

In [8]:
with open("umn_foursquare_datasets/checkins.dat", "r") as fout:
    info = fout.read()
dataset = info.split("\n")

In [27]:
print(dataset[0])

   id    | user_id | venue_id |     latitude      |     longitude     |     created_at

In [45]:
data = dataset[2:-3]
for i, line in enumerate(data):
    data[i] = line.split("|")
    for j, word in enumerate(data[i][:-1]):
        data[i][j] = word.replace(" ", "")
len(data)

1021966

In [66]:
data_for_save = []
data_for_save.append(dataset[0].split("|"))

for j, word in enumerate(data_for_save[0]):
    data_for_save[0][j] = word.replace(" ", "")
data_for_save[0] = ",".join(data_for_save[0])

for line in data:
    if line[3] != "" and line[4] != "":
        data_for_save.append(",".join(line))

len(data_for_save)

396635

In [68]:
data_for_save[1]

'984222,15824,5222,38.8951118,-77.0363658, 2012-04-21 17:43:47'

In [70]:
with open("Clear_data.csv", "w") as fout:
    for line in data_for_save:
        fout.write(line + "\n")

# Ð¡lusterization

In [113]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [83]:
data = pd.read_csv("Clear_data.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396634 entries, 0 to 396633
Data columns (total 6 columns):
id            396634 non-null int64
user_id       396634 non-null int64
venue_id      396634 non-null int64
latitude      396634 non-null float64
longitude     396634 non-null float64
created_at    396634 non-null object
dtypes: float64(2), int64(3), object(1)
memory usage: 18.2+ MB

In [104]:
ms = MeanShift(bandwidth=0.1)

In [105]:
ms.fit(data[data.columns[3:5]].iloc[:100000])

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [106]:
a = ms.predict(data[data.columns[3:5]])

In [108]:
data["cluster"] = a

In [129]:
clusters = np.array(list(set(a)))

d = np.zeros(len(clusters))

for item in clusters:
    d[item] = len(np.where(a == item)[0])

In [134]:
need_clusters = clusters[d > 15]

In [146]:
result_place = []
for cl in need_clusters:
    result_place.append(
    ",".join([str(data[data.cluster == cl].latitude.mean()), str(data[data.cluster == cl].longitude.mean())])
    )

In [147]:
with open("result_places.txt", "w") as fout:
    fout.write("\n".join(result_place))

In [155]:
longitudes = np.zeros(len(need_clusters))
latitudes = np.zeros(len(need_clusters))

for i, cl in enumerate(need_clusters):
    
    latitudes[i] = data[data.cluster == cl].latitude.mean()
    longitudes[i] = data[data.cluster == cl].longitude.mean()

In [178]:
city = ["Los Angeles", "Miami" , "London", "Amsterdam", "Beijing", "Sydney"]

dictionary = {
    "Los Angeles" : [33.751277, -118.188740],
    "Miami" : [25.867736, -80.324116] ,
    "London" : [51.503016, -0.075479 ], 
    "Amsterdam" : [52.378894, 4.885084], 
    "Beijing": [39.366487, 117.036146],
    "Sydney": [-33.868457, 151.205134]
}

In [186]:
places = pd.DataFrame({
    "clusters" : need_clusters,
    "latitudes" : latitudes,
    "longitudes" : longitudes,
    "distances" : np.zeros(len(need_clusters)),
    "city" : ["Los Angeles" for i in range(len(need_clusters))]
})

In [179]:
def count_distance(i, city):
    return np.sqrt((places.latitudes[i] - dictionary[city][0])**2 + (places.longitudes[i] - dictionary[city][1])**2)

In [188]:
distances = np.zeros(len(need_clusters))
cityes = ["Los Angeles" for i in range(len(need_clusters))] 
for i in range(len(places.clusters)):
    dis = np.zeros(len(city))
    for j in range(len(city)):
        dis[j] = count_distance(i, city[j])
    idx = np.where(dis == dis.min())[0][0]
    distances[i] = dis[idx]
    cityes[i] = city[idx]

In [189]:
places["distances"] = distances
places["city"] = cityes

In [192]:
places.sort_values("distances")

      clusters  latitudes  longitudes  distances         city
420        420 -33.861017  151.205504   0.007449       Sydney
370        370  52.375654    4.893780   0.009280    Amsterdam
419        419  25.846206  -80.311245   0.025084        Miami
58          58  51.503187   -0.124177   0.048699       London
51          51  33.803579 -118.153679   0.062966  Los Angeles
29          29  25.783468  -80.182986   0.164374        Miami
167        167  25.701369  -80.283829   0.171176        Miami
92          92  26.002296  -80.205699   0.179245        Miami
87          87  33.871621 -118.046878   0.186030  Los Angeles
42          42  33.865175 -118.368600   0.212891  Los Angeles
291        291  33.962146 -118.158227   0.213065  Los Angeles
794        802  51.409933   -0.280547   0.225205       London
320        320  26.139268  -80.336708   0.271824        Miami
952       1006  51.521153   -0.349253   0.274374       London
32          32  33.668822 -117.919668   0.281422  Los Angeles
27          27  33.832589 -117.901763   0.298275  Los Angeles
1342      2286  51.699667   -0.302287   0.300190       London
11          11  34.052299 -118.243827   0.306021  Los Angeles
55          55  26.128197  -80.152152   0.312108        Miami
119        119  33.982729 -117.978696   0.312552  Los Angeles
950       1004  52.084281    5.099351   0.364290    Amsterdam
47          47  34.125680 -118.130284   0.378939  Los Angeles
17          17  34.018520 -118.457521   0.379027  Los Angeles
159        159  26.258564  -80.238540   0.400087        Miami
35          35  34.156726 -118.248248   0.409792  Los Angeles
64          64  34.106014 -117.983187   0.409988  Los Angeles
24          24  34.135569 -118.357436   0.419689  Los Angeles
1247      1692  25.473942  -80.469825   0.419887        Miami
1344      2304  51.099929   -0.196035   0.420729       London
50          50  33.648555 -117.758370   0.442459  Los Angeles
...        ...        ...         ...        ...          ...
556        556  -6.249619  107.138638  46.677508      Beijing
33          33  -6.208451  106.844699  46.700541      Beijing
510        510  -6.186005  106.632043  46.725527      Beijing
252        252  -7.266232  112.743802  46.764863       Sydney
211        211  -6.313885  106.797356  46.813771      Beijing
948        999  -6.997367  110.443393  46.830239      Beijing
750        753  -6.606456  106.807489  47.097101      Beijing
156        156  -6.913205  107.608378  47.230210      Beijing
1080      1232  12.989689   77.850173  47.236384      Beijing
642        642  -6.952123  107.398439  47.310665      Beijing
1416      3205  -7.537777  110.827766  47.313359      Beijing
447        447  -7.783337  110.374535  47.618095      Beijing
792        798  19.017615   72.856164  48.641005      Beijing
1415      3194  -5.995292  -36.611856  54.092645        Miami
358        358  25.143422   55.168580  57.185670    Amsterdam
1168      1432 -22.923626  -47.083587  59.038375        Miami
105        105 -23.549049  -46.638929  59.805606        Miami
571        571 -33.431782  -71.830037  59.904776        Miami
1339      2209 -23.733218  -46.504601  60.033442        Miami
887        917 -25.533564  -49.221992  60.078580        Miami
433        433 -33.533216  -70.570564  60.196386        Miami
262        262 -22.905242  -43.177384  61.308100        Miami
103        103  -0.165471   36.662714  61.406254    Amsterdam
1253      1718 -27.478264  -48.677640  62.026569        Miami
1014      1104 -30.004613  -51.213628  63.001110        Miami
1254      1721 -34.522443  -58.517157  64.206831        Miami
448        448 -34.615091  -58.356817  64.348540        Miami
1012      1102 -24.401946   30.023033  80.791174    Amsterdam
1013      1103 -26.131424   28.428159  81.964300    Amsterdam
1082      1235 -38.057360   16.559809  91.092227       London

[1418 rows x 5 columns]

In [194]:
with open("answer.txt", "w") as fout:
    fout.write("-33.861017 151.205504")